<section class="about" id="about-game">
  <div class="container about">
    <h2 class="title-about">About the game</h2>
    <div class="about-p">
      <p class="about-text">
        Word Winner: Search And Swipe is an addictive word puzzle game that
        challenges players to find hidden words by swiping across a grid of
        scrambled letters. Solve puzzles across multiple exciting levels and
        build your word-search skills. With a fun variety of challenges, game
        modes, and rewards, Word Winner makes every swipe feel like a triumph!
      </p>
    </div>
  </div>
</section>
