<section class="about" id="about">
  <div class="container about">
    <h2 class="title-about">About the game</h2>
    <div class="about-p">
      <img
        class="button-about"
        src="/img/about.png"
        alt="About the game"
        width="548px"
      />
      <div class="about-text">
        <p class="p-text-about">
          Word Winner: Search And Swipe is an addictive word puzzle game that
          challenges players to find hidden words by swiping across a grid of
          scrambled letters.
        </p>
        <p class="p-text-about-p">
          Solve puzzles across multiple exciting levels and build your
          word-search skills. With a fun variety of challenges, game modes, and
          rewards, Word Winner makes every swipe feel like a triumph!
        </p>
      </div>
    </div>
  </div>
</section>
