<section class="faq" id="faq">
  <div class="container faq">
    <h2 class="title-faq">FAQ</h2>
    <div class="faq-list">
      <div class="faq-t">
        <div class="accordion-container">
          <input
            type="checkbox"
            id="accordion-toggle-1"
            class="accordion-toggle"
            hidden
          />
          <label for="accordion-toggle-1" class="accordion-label"
            >Is the game free to play?</label
          >
          <div class="panel">
            <div class="panel-text">
              <p class="panel-p">
                Yes, Word Winner: Search And Swipe is free to download and play,
                with optional in-app purchases for boosters and extra hints.
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion Section 2:  -->
        <div class="accordion-container">
          <input
            type="checkbox"
            id="accordion-toggle-2"
            class="accordion-toggle"
            hidden
          />
          <label for="accordion-toggle-2" class="accordion-label"
            >Can I play offline?</label
          >
          <div class="panel">
            <p class="panel-p">
              Yes, the game can be played offline, but the multiplayer mode
              requires an internet connection.
            </p>
          </div>
        </div>
      </div>

      <!-- 3------------- -->
      <div class="faq-c">
        <div class="accordion-container">
          <input
            type="checkbox"
            id="accordion-toggle-3"
            class="accordion-toggle"
            hidden
          />
          <label for="accordion-toggle-3" class="accordion-label"
            >How do I unlock new levels?</label
          >
          <div class="panel">
            <p class="panel-p">
              Progress through levels by completing word puzzles. Each new level
              presents more difficult challenges and fun twists!
            </p>
          </div>
        </div>
        <!-- 4----------- -->
        <div class="accordion-container">
          <input
            type="checkbox"
            id="accordion-toggle-4"
            class="accordion-toggle"
            hidden
          />
          <label for="accordion-toggle-4" class="accordion-label"
            >Can I play with friends?</label
          >
          <div class="panel">
            <p class="panel-p">
              Yes, you can compete against friends in multiplayer mode and
              compare your scores.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
