<section id="features">
  <h2>Game Features</h2>
  <ul class="features">
    <li class="features-item">
      <img
        class="feature-image"
        src="/img/features/feature-01.png"
        alt="Feature 01"
      />
      <h3 class="feature-title title">Engaging Gameplay</h3>
      <div class="feature-text text">
        Discover new words by swiping across letter grids.
      </div>
    </li>
    <li class="features-item">
      <img
        class="feature-image"
        src="/img/features/feature-02.png"
        alt="Feature 02"
      />
      <h3 class="feature-title title">Varied Challenges</h3>
      <div class="feature-text text">
        Hundreds of levels to explore, each with its own unique puzzle.
      </div>
    </li>
    <li class="features-item">
      <img
        class="feature-image"
        src="/img/features/feature-03.png"
        alt="Feature 03"
      />
      <h3 class="feature-title title">Competitive Mode</h3>
      <div class="feature-text text">
        Compete with friends and players worldwide for the highest scores.
      </div>
    </li>
    <li class="features-item">
      <img
        class="feature-image"
        src="/img/features/feature-04.png"
        alt="Feature 04"
      />
      <h3 class="feature-title title">Word Search Mastery</h3>
      <div class="feature-text text">
        Unlock achievements as you become a word-search pro.
      </div>
    </li>
    <li class="features-item">
      <img
        class="feature-image"
        src="/img/features/feature-05.png"
        alt="Feature 05"
      />
      <h3 class="feature-title title">Boosters and Hints</h3>
      <div class="feature-text text">
        Use helpful tools to assist with tough puzzles and keep your momentum
        going.
      </div>
    </li>
    <li class="features-item">
      <img
        class="feature-image"
        src="/img/features/feature-06.png"
        alt="Feature 06"
      />
      <h3 class="feature-title title">Offline Play</h3>
      <div class="feature-text text">
        Enjoy the game anytime, anywhere, even without an internet connection.
      </div>
    </li>
  </ul>
</section>
