<section class="game-features" id="game-features">
  <div class="container game-features">
    <h2 class="title-game-features">Game Features</h2>
    <div class="game-features-list-div">
      <ul class="game-features-list">
        <li class="game-features-li">
          <img
            class="button-about"
            src="/img/material-symbols_sports.png"
            alt="game-features"
            width="32px"
          />
          <h3 class="game-features-text">Engaging Gameplay</h3>
          <p class="game-features-p">
            Discover new words by swiping across letter grids.
          </p>
        </li>
        <li class="game-features-li">
          <img
            class="button-about"
            src="/img/material-symbols_rocket.png"
            alt="game-features"
            width="32px"
          />
          <h3 class="game-features-text">Varied Challenges</h3>
          <p class="game-features-p">
            Hundreds of levels to explore, each with its own unique puzzle
          </p>
        </li>
        <li class="game-features-li">
          <img
            class="button-about"
            src="/img/heroicons_trophy.png"
            alt="game-features"
            width="32px"
          />
          <h3 class="game-features-text">Competitive Mode</h3>
          <p class="game-features-p">
            Compete with friends and players worldwide for the highest scores.
          </p>
        </li>
        <li class="game-features-li">
          <img
            class="button-about"
            src="/img/group.png"
            alt="game-features"
            width="32px"
          />
          <h3 class="game-features-text">Word Search Mastery</h3>
          <p class="game-features-p">
            Unlock achievements as you become a word-search pro
          </p>
        </li>
        <li class="game-features-li">
          <img
            class="button-about"
            src="/img/solar_lightbulb-outline.png"
            alt="game-features"
            width="32px"
          />
          <h3 class="game-features-text">Boosters and Hints</h3>
          <p class="game-features-p">
            Use helpful tools to assist with tough puzzles and keep your
            momentum going.
          </p>
        </li>
        <li class="game-features-li">
          <img
            class="button-about"
            src="/img/pixelarticons_cellular-signal-off.png"
            alt="game-features"
            width="32px"
          />
          <h3 class="game-features-text">Offline Play</h3>
          <p class="game-features-p">
            Enjoy the game anytime, anywhere, even without an internet
            connection.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
