<header class="header">
  <a href="#"><img src="../img/logo.png" alt="Word Winner Logo" /></a>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">About the Game</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">How to Play</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Game Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Gallery</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">FAQ</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Reviews</a>
      </li>
    </ul>
  </nav>
  <button class="burger" type="button" id="burger-button">Menu</button>
</header>

<!-- define path relative to index -->
<!-- <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li> -->
