<header class="header">
  <div class="header-wrapper">
    <a href="#"><img src="/img/logo.png" alt="Word Winner Logo" /></a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link">About the Game</a>
        </li>
        <li class="nav-item">
          <a href="#how-to-play" class="nav-link">How to Play</a>
        </li>
        <li class="nav-item">
          <a href="#features" class="nav-link">Game Features</a>
        </li>
        <li class="nav-item">
          <a href="#gallery" class="nav-link">Gallery</a>
        </li>
        <li class="nav-item">
          <a href="#faq" class="nav-link">FAQ</a>
        </li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="burger" type="button">
      <img src="/img/burger.png" alt="Menu burger" />
    </button>
  </div>
</header>
