<section class="hero">
  <div class="container hero-container">
    <div class="hero-title">
      <div class="hero-title-button">
        <h1 class="hero-tit">Word Winner: Search And Swipe</h1>
        <button class="hero-button" type="button">
          <img
            class="button-google"
            src="/img/button-goole.png"
            alt="Google Play Button"
            width="260px"
          />
        </button>
      </div>
      <img
        class="hero-icon"
        src="/img/hero.png"
        alt="Word Winner hero"
        width="480px"
      />
    </div>
  </div>
</section>
