<section class="how-to-play" id="how-to-play">
  <div class="container container-how-to-play">
    <h2 class="title-how-to-play">How to Play</h2>
    <div class="how-to-play-p">
      <ul class="how-to-play-text">
        <li>
          <p>Swipe to Find Words:</p>
          <p class="p-text">
            Swipe across the grid to discover hidden words, starting from any
            direction.
          </p>
        </li>
        <li>
          <p>Unlock New Levels:</p>
          <p class="p-text">
            Solve puzzles and advance through new, increasingly difficult
            levels.
          </p>
        </li>
        <li>
          <p>Challenge Your Friends:</p>
          <p class="p-text">
            Compete with friends to see who can find the most words in the
            shortest time.
          </p>
        </li>
        <li>
          <p>Complete Daily Challenges:</p>
          <p class="p-text">
            Test your skills with special challenges that give extra rewards.
          </p>
        </li>
        <li>
          <p>Use Hints:</p>
          <p class="p-text">
            Stuck? Use the hint feature to uncover difficult words and continue
            your progress.
          </p>
        </li>
      </ul>

      <img
        class="button-about"
        src="/img/how-to-play.png"
        alt="About the game"
        width="453px"
      />
    </div>
  </div>
</section>
