.about {
  margin-top: 52px;
}
@media screen and (min-width: 1200px) {
  .about {
    margin-top: 114px;
    margin-bottom: 52px;
  }
}

.about-text {
  background: var(--Fon-for-text-Beige, #f4e5be);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 16px;
}
@media screen and (min-width: 1200px) {
  .about-text {
    width: 548px;
    padding: 16px 44px 16px 16px;
    margin: 0;
    justify-content: space-evenly;
    line-height: 1.1;
  }
}

.p-text-about {
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 1.2;
}
@media screen and (min-width: 1200px) {
  .about-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    line-height: 1.4;
  }
  .about-p {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
//
.p-text-about-p {
  line-height: 1.2;
}

.p-text-about {
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 1.2;
}

.p-text-about-p {
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.title-about {
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .title-about {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
  }
}
