.about {
  margin-top: 114px;
}
.title-about {
  font-family: Fredoka;
  font-size: 40px;
  font-weight: 600px;
  margin-bottom: 40px;
}

.about-text {
  display: flex;
  font-size: 24px;
  font-weight: 400;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 16px;
  background: var(--Fon-for-text-Beige, #f4e5be);
}
.about-p {
  display: flex;
  // width: 548px;
  // height: 364px;
  // padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.p-text-about {
  font-size: 24px;
  font-weight: 400;
  width: 508px;
  height: 142px;
  line-height: 1.3;
}
.p-text-about-p {
  width: 508px;
  height: 172px;
  line-height: 1.2;
}
