.faq {
  margin-top: 140px;
  margin-bottom: 140px;
}
.title-faq {
  font-family: Fredoka;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.faq-list {
  display: flex;
  gap: 20px;
}

// .faq-t {
//   display: flex;
//   gap: 20px;
// }

// .faq-c {
//   display: flex;
//   gap: 20px;
// }

/* Style for the accordion label (question) */
.accordion-label {
  display: flex;
  width: 100%;
  // width: 548px;
  height: 84px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #f4e5be;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;

  line-height: normal;
  justify-content: space-between;
}

/* Hover effect for the accordion label */
// .accordion-label:hover {
//   background-color: #45a049;
// }

/* Style for the answer section */
.panel {
  display: none;
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
  width: 548px;
  background: #f4e5be;
}

.panel-text {
  padding: 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
/* When the checkbox is checked, display the panel */
.accordion-toggle:checked + .accordion-label + .panel {
  display: block;
}
.panel-p {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.accordion-icon {
  transition: transform 0.3s ease;
  font-size: 18px;
}

/* Зміна напрямку стрілки при відкритті */
.accordion-toggle:checked + .accordion-label .accordion-icon {
  transform: rotate(180deg);
}
@media screen and (max-width: 375px) {
  .accordion-label {
    width: 100%;
    height: 49px;
    font-size: 16px;
    justify-content: space-between;
  }
  .faq {
    width: 375px;
    margin: 0 auto;
  }
  .faq-list {
    display: block;
  }
}
