.faq {
  margin-top: 52px;
  margin-bottom: 52px;
}
.title-faq {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (min-width: 1200px) {
  .title-faq {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.faq-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (min-width: 1200px) {
  .faq-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

.accordion-label {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: var(--Fon-for-text-Beige, #f4e5be);
  border-radius: 10px;
  padding: 20px;
}
@media screen and (min-width: 1200px) {
  .accordion-label {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.accordion-container {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .accordion-container {
    border-radius: 10px;
  }
}

/* Style for the answer section */
.panel {
  display: none;
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  background: #b4927b;
}

.panel-text {
  padding: 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
/* When the checkbox is checked, display the panel */
.accordion-toggle:checked + .accordion-label + .panel {
  display: block;
}
.panel-p {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media screen and (min-width: 1200px) {
  .panel-p {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.accordion-icon {
  transition: transform 0.3s ease;
  font-size: 18px;
  height: 20px;
}

/* Зміна напрямку стрілки при відкритті */
.accordion-toggle:checked + .accordion-label .accordion-icon {
  transform: rotate(180deg);
}
