.hero-container {
  @media screen and (min-width: 1200px) {
    padding: 0 80px;
    margin: 0 auto;

    @media screen and (max-width: 375px) {
      padding: 0 36px;
      margin: 0 auto;
    }
  }
}

.hero-title {
  display: flex;
}

.hero-tit {
  font-family: Fredoka;
  font-size: 80px;
  letter-spacing: 0.03em;
  margin-bottom: 110px;
  line-height: 80px;
}

.hero {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-button {
  width: 260px;
  margin: 13px 0;
  border: none;
  outline: none; /* Це прибирає білу окантовку при фокусі */
}

.button-google {
  border: none;
}

@media screen and (max-width: 376px) {
  .hero-title {
    display: flex;
    font-size: 32px;
    flex-direction: column-reverse;
  }
  .hero-tit {
    font-size: 32px;
    line-height: normal;
    margin-bottom: 32px;
    margin-top: 12px;
  }

  .hero-container {
    padding: 0 36px;
    margin: 0 auto;
  }
}
