@media screen and (min-width: 1200px) {
  .hero-container {
    display: flex;
  }
}

.hero-title {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    display: flex;
    flex-direction: row;
  }
}

.hero-tit {
  font-family: Fredoka;
  font-size: 80px;
  letter-spacing: 0.03em;
  margin-bottom: 110px;
  line-height: 80px;
}

.hero {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-button {
  display: inline-flex;
  margin: 13px 0;
  border: none;
  outline: none; /* Це прибирає білу окантовку при фокусі */
  background-color: transparent;
  transition: all 300ms ease;
}

.hero-button:hover {
  transform: scale(1.05);
}

.button-google {
  border: none;
}

@media screen and (max-width: 376px) {
  .hero-title {
    display: flex;
    font-size: 32px;
    flex-direction: column-reverse;
  }
  .hero-tit {
    font-size: 32px;
    line-height: normal;
    margin-bottom: 32px;
    margin-top: 12px;
  }
}
