.how-to-play {
  margin-top: 49px;
  margin-bottom: 66px;
}

@media screen and (min-width: 1200px) {
  .how-to-play {
    margin-top: 140px;
    margin-bottom: 140px;
  }
}

.title-how-to-play {
  font-family: Fredoka;
  font-size: 40px;
  font-weight: 600px;
  margin-bottom: 40px;
}
.how-to-play-p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  gap: 12px;
}

// .how-to-play-text p {
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 400;
//   display: flex;
//   flex-direction: row;
//   gap: 16px;
// }
.how-to-play-text {
  background-color: var(--Fon-for-text-Beige, #f4e5be);
  border-radius: 10px;
  margin-bottom: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 16px 16px 16px 36px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: disc;
}

.title-how-to-play {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .title-how-to-play {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .how-to-play-p {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
  }
  .how-to-play-text {
    padding: 40px 60px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
  }

  // .how-to-play-text p {
  //   font-size: 24px;
  // }
}
