.footer {
  position: relative;
  height: 143px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid $_secondary_bg_color;
  // ::before {
  //   content: '';
  //   display: block;
  //   height: 1px;
  //   width: 100vw;
  //   background-color: $_secondary_bg_color;
  //   position: absolute;
  //   top: 0;
  //   overflow: hidden;
  // }
}

.footer-text {
  font-size: 11px;
  letter-spacing: 1.5%;
  line-height: 1.36;
}

@media screen and (min-width: 1200px) {
  .footer-text {
    font-size: 16px;
    line-height: 1.36;
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-size: 13px;
  margin-bottom: 14px;
}
@media screen and (min-width: 1200px) {
  .footer-list {
    gap: 40px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4%;
    margin-bottom: 18px;
  }
}

.footer-link:hover {
  color: $_header_accent_color;
}
