.footer {
  position: relative;
  height: 143px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid $_secondary_bg_color;
  // ::before {
  //   content: '';
  //   display: block;
  //   height: 1px;
  //   width: 100vw;
  //   background-color: $_secondary_bg_color;
  //   position: absolute;
  //   top: 0;
  //   overflow: hidden;
  // }
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 18px;
}

@include media(mobile) {
  .footer-list {
    gap: 12px;
  }
}
.footer-link:hover {
  color: $_header_accent_color;
}
