.header {
  padding: 32px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $_secondary_bg_color;
  padding: 20px 20px;
  border-radius: 10px;
}

@include media(mobile) {
  .header-wrapper {
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .header-wrapper {
  }
}

.nav-list {
  display: none;
}

@include media(mobile) {
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: $_secondary_bg_color;
    padding: 10.5px 42.5px;
    border-radius: 10px;
  }
}

.nav-link {
  letter-spacing: 0.02em;
  @include font(20px, 27.24px);
  color: $_main_color;
}

.nav-link:hover,
.nav-link:focus {
  color: $_header_accent_color;
}

.burger {
  display: block;
}

.icon-burger {
}

@include media(mobile) {
  .burger {
    display: none;
  }
}
