@import './header.scss';
@import './gallery.scss';
@import './swiper.scss';
@import './burger_menu.scss';
@import './hero.scss';
@import './features.scss';
@import './about-game';
@import './how-to-play';
@import './faq.scss';
@import './footer.scss';
@import './reviews.scss';

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  // line-height: 24px;
  font-weight: 400;

  // color: #0000;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

h2 {
  margin-bottom: 40px;
}
